body {
    background-color: #555;
}

.editSucc {
    margin-left: 2%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #16c79a;
}

.editFail {
    margin-left: 2%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #fb3640;
}

/* .tablePos {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
} */

.centerW {
    max-width: 65%;
    margin: auto; 
    
}