body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
line-height: 100px;
    font-size: 60px;
}

.gameLost {
	margin-top: 1%;
	margin-bottom: 1%;
	color: #fb3640;
	margin-left: 2%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.gameWon {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	color: #16c79a;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.gameTie {
    margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	color: #d6eb1b;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.myusername {
	margin: auto;
	color: black;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
}

.opponent {
	margin: auto;
	color: black;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
}


.button {
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
  
.button:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}
  
.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}