<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" 
    crossorigin="anonymous">
    <link href="../../css/header.css" rel="stylesheet">
</head>


<body>


<div class="wrapper">


<div class="centerW">
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <a class="navbar-brand siteTitle" href="/">GameRoom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <% if(role === 'Admin'){%> 
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/logout">Logout</a>
                </li>
            <% } %> 
            <% if(role === 'Player') {%> 
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/home/practiceHistory">Practice History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tournament History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tournamentList">Tournament List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Practice play
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="http://localhost:3000/home/practice/chess">chess</a></li>
                    <li><a class="dropdown-item" href="#">tic tac toe</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> Practice score: <%= practiceScore %> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Tournament Score: <%= tournamentScore %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/logout">Logout</a>
                </li>
                
            <% } %> 
            <% if(role === 'Official') {%> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Create Tournament
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/official/chess">chess</a></li>
                    <li><a class="dropdown-item" href="/official/tic-tac-toe">tic tac toe</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tournamentList">Tournament List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tournament Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/logout">Logout</a>
                </li>
            <% } %>
        </ul>
      </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" 
    crossorigin="anonymous">
</script>
