
<link href="../../css/home.css" rel="stylesheet">
<link href="../../css/tournament.css" rel="stylesheet">


<%- include('partials/header.ejs') %>

    <h1>Tournament: <%= tournID %>  Lobby</h1>

    <div class="tournament-container">
        <div class="tournament-headers">
          <h3>Round of 8</h3>
          <h3>Quarter-Finals</h3>
          <h3>Semi-Finals</h3>
          <h3>Small Final</h3>
          <h3>Final</h3>
        </div>
      
        <div class="tournament-brackets">
          <ul class="bracket bracket-1">
            <li class="team-item" id="br11"></li>
            <li class="team-item" id="br12"></li>
            <li class="team-item" id="br13"></li>
            <li class="team-item" id="br14"></li>
            <li class="team-item" id="br15"></li>
            <li class="team-item" id="br16"></li>
            <li class="team-item" id="br17"></li>
            <li class="team-item" id="br18"></li>
          </ul>  
          <ul class="bracket bracket-2">
            <li class="team-item" id="br21"></li>
            <li class="team-item" id="br22"></li>
            <li class="team-item" id="br23"></li>
            <li class="team-item" id="br24"></li>
          </ul>  
          <ul class="bracket bracket-3">
            <li class="team-item" id="br31"></li>
            <li class="team-item" id="br32"></li>
          </ul>  
          <ul class="bracket bracket-4">
            <li class="team-item" id="br41"></li>
          </ul>  
      
          <ul class="bracket bracket-5">
            <li class="team-item" id="br51"></li>
          </ul>  
        </div>
      </div>

<%- include('partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>

<script>

    $(document).ready( function () {
        const tournID = '<%= tournID %>'
        fillBrackets(tournID);

        function fillBrackets(tournID) {

            
            //alert(tournID)

            $.ajax({
                url: "/tournament/players",
                method: "POST",
                data: {tournID: tournID},
                success: (data) => {

                    console.log(data);
                    if(data.success === true){
                        console.log("Players returned!");
                    }
                    else{
                        console.log("ERROR: Players NOT returned!");
                    }

                }
            });


        }


    });


</script>